html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fafbfc;
}

header {
    font-size: 2rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 118px);
    grid-gap: 1rem;
    height: 370px;
    width: 370px;
}

.square {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.square:hover {
    background-color: rgb(236, 245, 245);
}

#newGame {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem auto;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#newGame:hover {
    background-color: #008CBA;
}

footer {
    font-size: 1rem;
    margin-top: auto;
}